# Dépendances
node_modules
.pnp
.pnp.js

# Build de production
dist
dist-ssr

# Fichiers d'environnement (ne jamais pousser vos clés secrètes)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Éditeurs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp